*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body{
    width: min(800px, 80%);
    margin: 50px auto;
}

h1{
    margin-bottom: 30px;
}

p, li{
    font-size: 24px;
    margin-bottom: 20px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.list img{
    width: 100%;
}

.list > a{
    width: 180px;
    padding: 5px;
    display: block;
    list-style: none;
    border: 1px solid black;
    border-radius: 2px;

}

a{
    text-decoration: none;
    color: black;
    font-size: 24px;
}