body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

button {
    font-family: monospace;
    margin-top: 50px;
    background: lightpink;
    border: rgb(240, 124, 141) outset;
}

button:active {
    border: inset;
    border: rgb(240, 124, 141) inset;
}

.main {
    width: 600px;
    margin: 20px auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (max-width: 700px) {
    .main {
        width: 80vw;
    }
}

.square {
    width: 20px;
    height: 20px;
    user-select: none;
}